$font-1 : 'Optima Bold';
$font-2 : "Myriad Pro", sans-serif;

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Myriad Pro", sans-serif;
}
@font-face {
  font-family: 'Optima Bold';
  src: url("../fonts/Optima-Bold_34072.woff") format('woff'), url("../fonts/Optima-Bold_34072.ttf") format('truetype');
}

header {
  background: rgba(0, 0, 0, 0.2);
}

.main-nav {}

.navbar-nav {
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.hero-slider {
  height: 100%;

  .hero-content {
    height: 100%;
    background-size: cover;

    .container {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &.first {
      background-image: url("../img/bg-1.png");
    }

    .title {
      font-family: 'Optima Bold';
      font-size: 36px;
      text-transform: uppercase;
      color: #fff;
      line-height: 41px;
      position: relative;
      margin-bottom: 75px;

      &:before {
        position: absolute;
        content: '';
        width: 80px;
        height: 3px;
        background: #fff;
        bottom: -40px;
      }
    }

    .content {
      max-width: 600px;
      font-size: 22px;
      color: #fff;

      &::first-letter {
        font-family: 'Optima Bold';
        float: left;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
      }
    }
  }
}

.custom-prev {
  position: absolute;
  top: 50%;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: right;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  left: 0;
  z-index: 99;
  color: #fff;
}

.custom-next {
  position: absolute;
  top: 50%;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: right;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  right: 0;
  z-index: 99;
  color: #fff;
}
.destinations {
  .destination {
    background-size: cover;
    padding: 3.5vw;
    position: relative;
    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      opacity: 0;
      transition: 300ms;
    }
    &:hover {
      .title {
        opacity: 1;
      }
      .content {
        opacity: 1;
      }
      &:before {
        opacity: 1;
      }
    }
    &.first {
      background-image: url('../img/dest-1.png');
    }
    &.second {
      background-image: url('../img/dest-2.png');
    }
    &.third {
      background-image: url('../img/dest-3.png');
    }
    &.fourth {
      background-image: url('../img/dest-4.png');
    }
    .title {
      font-family: 'Optima Bold';
      font-size: 36px;
      text-transform: uppercase;
      color: #fff;
      line-height: 41px;
      position: relative;
      margin-bottom: 75px;
      position: relative;
      z-index: 1;
      opacity: 0;
      transition: 300ms;
      &:before {
        position: absolute;
        content: '';
        width: 80px;
        height: 3px;
        background: #fff;
        bottom: -40px;
      }
    }
    .content {
      font-size: 18px;
      color: #fff;
      position: relative;
      z-index: 1;
      opacity: 0;
      transition: 300ms;
      &::first-letter {
        font-family: 'Optima Bold';
        float: left;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
      }
    }
  }
}
.overview {
  padding: 5vw 0;
}
.main-title {
  font-family: 'Optima Bold';
  font-size: 36px;
  text-transform: uppercase;
  line-height: 41px;
  margin-bottom: 75px;
  position: relative;
  z-index: 1;
  &-blue {
    color: #1d2941;
    &:before {
    background: #1d2941;
    }
  }
  &-white {
    color: #fff;
    &:before {
    background: #fff;
    }
  }
  &-gray {
    color: #585757;
    &:before {
    background: #585757;
    }
  }
  &:before {
    position: absolute;
    content: '';
    width: 80px;
    height: 3px;
    bottom: -40px;
  }
  small {
    display: block;
    font-size: 18px;
    font-family: $font-2;
    text-transform: capitalize;
    color: #585858;
  }
  &.small {
    font-size: 28px !important;
  }
}
.overview-elem {
	counter-reset: my-counter;
  .btn {
    width: 90%;
    margin-left: 16px;
  }
  dt + dt {
    margin-top: 12px;
  }
}
.overview-elem dt:before {
	content: counter(my-counter, decimal-leading-zero);
	counter-increment: my-counter;
}
.distance {
  text-align: center;
  background: #ebebeb;
  padding: 4em 0;
  &-title {
    font-weight: bold;
    font-size: 23px;
    color: #3f94bb;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  &-sub {
    font-size: 18px;
    color: #585757;
  }
}
.investment {
  background: #3f94bb;
  padding: 6em 0;
  .content {
    font-size: 18px;
    color: #fff;
    column-count: 2;
    column-gap: 36px;
    &::first-letter {
      font-family: 'Optima Bold';
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }
}
.white {
  color: #fff;
  font-size: 20px;
}
.gray {
  color: #585757;
}
.fs-18 {
  font-size: 18px;
}
.lote-1 {
	counter-reset: my-counter-2;
  .btn {
    width: 80%;
    margin-left: 16px;
  }
  dt + dt {
    margin-top: 12px;
  }
}
.lote-1 dt:before {
	content: counter(my-counter-2, decimal-leading-zero);
	counter-increment: my-counter-2;
  color: white;
}

.lote-2 {
	counter-reset: my-counter-3 9;
  .btn {
    width: 80%;
    margin-left: 16px;
  }
  dt + dt {
    margin-top: 12px;
  }
}
.lote-2 dt:before {
	content: counter(my-counter-3, decimal-leading-zero);
	counter-increment: my-counter-3;
  color: white;
}
.map-center {
  display: flex;
  align-items: center;
}
.info {
  padding: 6em 0;
  .content {
    font-size: 18px;
    color: #585757;
    column-count: 3;
    column-gap: 36px;
    &::first-letter {
      font-family: 'Optima Bold';
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }
  .line-b {
    border-bottom: 2px solid rgba(88, 87, 87, 0.2);
    padding-bottom: 4em;
  }
}
.parsley-errors-list {
    list-style: none;
    margin: 0;
    padding:  0;
    font-size: 11px;
    color: chocolate;
}
.contact-form {
  label {
    color: #585757;
    font-weight: bold;
  }
}
footer {
  background: #14161b;
  padding: 3em 0;
  .logo {
    opacity: 0.3;
  }
  .small {
    color: white;
    a {
      color: #fff;
    }
  }
  .social {
    a + a {
      margin-left: 16px;
    }
  }
}
@media (min-width: 768px) {
  .lote-1, .lote-2 {
    .btn {
      margin-left: 10px !important;
    }
  }
}
@media (max-width: 320px) {
  .logo, .navbar-brand {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .info {
    .content {
      column-count: 2;
    }
  }
}
@media (max-width: 425px) {
  .info, .investment {
    .content {
      column-count: 1;
    }
  }
}
